// Fonts
$text-font-family: Hack, monospace;
$heading-font-family: Hack, monospace;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

$bg-color: #eeeeee !default;
$fg-color: #222831 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #393e46 !default;
$link-color: #00adb5 !default;

// Colors
//$bg-color: #FAFAD2 !default;
//$fg-color: #212121 !default;
//$bg-color: #222831 !default;
//$fg-color: #00ADB5 !default;
//$alt-bg-color: #E0E0E0 !default;
//$alt-fg-color: #000 !default;
//$link-color: #1565c0 !default;
